.nav-container {
  background-color: #333333;
  width: 100%;
  height: 70px;
  font-size: 1.5em;
  display: flex;
}

.nav-wrapper {
  background-color: #333333;
  margin: auto;
  width: 50%;
  text-align: center;
}

.menu-btn {
  background-color: #333333;
  border: none;
  margin-right: 16px;
  cursor: pointer;
}

.menu-icon {
  height: 30px;
  width: 30px;
  background-color: #333333;
  outline-style: none;
}

.logo {
  background-color: #333333;
  text-decoration: none;
}

.search-bar {
  display: none;
}

.prof-bar {
  display: none;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.mat-container {
  background-color: #333333;
  margin: auto;
  margin-top: 32px;
  min-width: 398px;
  max-width: 398px;
  border-radius: 5px;
  align-self: flex-start;
}

.lvl-form {
  background-color: #333333;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  min-width: 398px;
  max-width: 398px;
  border-radius: 5px;
  align-self: flex-start;
}

.mat-wrapper {
  background-color: #333333;
  font-size: 20px;
  max-width: 398px;
  margin-left: 16px;
  margin-top: 16px;
  display: flex;
}

.lvl-wrapper {
  background-color: #333333;
  font-size: 20px;
  max-width: 398px;
  margin-left: 16px;
  margin-top: 16px;
  display: flex;
}

.add-form {
  background-color: #333333;
  border-style: solid;
  border-color: #474747;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.input {
  height: 30px;
  background-color: #c1c1c1;
  color: #333333;
  font-weight: bold;
  margin: auto;
  margin-right: 16px;
  float: right;
  padding-left: 4px;
}

.lvl-input {
  height: 30px;
  width: 120px;
  background-color: #c1c1c1;
  color: #333333;
  font-weight: bold;
  margin: auto;
}

.btn {
  margin: 16px;
  margin-top: 32px;
  float: right;
  display: inline;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  border-style: none;
  background-color: #c1c1c1;
  color: #333333;
  padding: 4px;
}

.edit-btn {
  height: 34px;
  width: 43px;
  float: right;
  display: inline;
  font-size: 16px;
  margin-right: 16px;
  margin-left: auto;
  border-radius: 5px;
  font-weight: bold;
  border-style: none;
  background-color: #c1c1c1;
  color: #333333;
  padding: 4px;
}

.crafting-container {
  background-color: #333333;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  min-width: 398px;
  max-width: 398px;
  border-radius: 5px;
  font-size: 20px;
  min-height: 398px;
}

.crafting-wrapper {
  margin: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.item {
  height: 75px;
  background-color: #333333;
  padding-bottom: 12px;
}

.item-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
}

.item-flex-container {
  display: flex;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  gap: 20px;
}

.btn-flex-container {
  margin: auto;
  float: right;
}

.item-img {
  width: 75px;
  height: 75px;
  background-color: #c1c1c1;
  margin: auto;
}

.item-name {
  font-size: 24px;
  margin: auto;
}

.item-xp {
  font-size: 24px;
  margin: auto;
}

.add-btn {
  width: 30px;
  height: 30px;
  margin-right: 4px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 20px;
  background-color: #333333;
}

.subtract-btn {
  width: 30px;
  height: 30px;
  margin: auto;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 20px;
  background-color: #333333;
}

.item-counter {
  margin: 0;
}

.craft-btn {
  float: right;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 8px;
  margin-bottom: 8px;
}
