.container {
  height: 70px;
  background-color: #333333;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-right: 140px;
  padding-left: 140px;
}

.logo {
  background-color: #333333;
  text-decoration: none;
  font-size: 32px;
}

.search-bar {
  background-color: #c1c1c1;
  border-radius: 20px;
  width: 398px;
  height: 38px;
  font-size: larger;
  border-style: none;
}

.prof-bar {
  height: 60px;
  background-color: #333333;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-right: 140px;
  padding-left: 140px;
  border-style: solid;
  border-width: 2px;
  border-color: #474747;
  border-right-style: none;
  border-left-style: none;
}

.prof-bar a {
  text-decoration: none;
  background-color: #333333;
  font-size: 20px;
}

.main-container {
  display: flex;
  margin-left: 140px;
  margin-top: 85px;
}

.mat-container {
  min-height: 179px;
  background-color: #333333;
  min-width: 398px;
  max-width: 398px;
  border-radius: 5px;
  align-self: flex-start;
}

.crafting-container {
  min-width: 812px;
  min-height: 720px;
  height: 720px;
  width: 812px;
  margin-left: 16px;
  background-color: #333333;
  border-radius: 5px;
}

.crafting-wrapper {
  margin-left: 65px;
  margin-top: 65px;
  width: 682px;
  position: relative;
}

.item {
  width: 682px;
  height: 100px;
  margin-right: 65px;
  padding-bottom: 20px;
  background-color: #333333;
}

.item-container {
  height: 100px;
  display: flex;
  font-size: 30px;
  margin: auto;
  justify-content: center;
}

.item-img {
  width: 100px;
  height: 100px;
  background-color: #c1c1c1;
}

.item-name {
  font-size: 30px;
  width: 168px;
  margin: auto;
  justify-content: center;
}

.item-lvlreq {
  font-size: 26px;
  margin: auto;
  justify-content: center;
}

.item-xp {
  font-size: 26px;
  margin: auto;
  justify-content: center;
}

.btn-container {
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.add {
  font-size: 20px;
  justify-content: center;
  height: 33px;
  width: 33px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #333333;
  border: none;
}
.subtract {
  font-size: 20px;
  justify-content: center;
  height: 33px;
  width: 33px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #333333;
  border: none;
}

.mats-required {
  min-width: 258px;
  min-height: 100px;
  background-color: #333333;
  margin-left: 16px;
  align-self: flex-start;
}

.mats {
  background-color: #333333;
}

.mats-li {
  background-color: #333333;
}

.btn {
  background-color: #c1c1c1;
  color: #333333;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  border-style: none;
  margin-bottom: 16px;
  float: right;
  margin-right: 32px;
}

.add-form {
  background-color: #333333;
}

.mat-wrapper {
  background-color: #333333;
  margin: 16px;
  font-size: 20px;
  display: flex;
}

.input {
  margin: auto;
  height: 24px;
  margin-right: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: #474747;
  background-color: #c1c1c1;
  color: #333333;
  font-weight: bold;
}
